img {
    display: block;
    height: 80vh;
    margin: 20vh auto;
    min-height: 100px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.show {
    animation: fadein forwards 1s;
}